<div>
	<slot />
	<aside>
		<h5>Archive</h5>
		<ul>
			<li><a sveltekit:prefetch href="/posts">Home</a></li>
			<li><a sveltekit:prefetch href="/posts/about">About</a></li>
			<li><a sveltekit:prefetch href="/">Back</a></li>
		</ul>
	</aside>
</div>