<script>
	import Error from './../posts/error.md'
	export let error_data
	console.log(error_data)
	import { page } from '$app/stores';
</script>

<Error />

<h3>{$page.status}: {$page.error.message}</h3>