<script>
    import Header from '$lib/header.svelte';
    import '../tailwind.css';
</script>

<Header />

<main class="bg-blue-400">
    <slot />
</main>

<footer>
    Copyright 2022 Definitely Not Urban Warzone
</footer>

<!--Svelte CSS scoped by default-->
<style lang=scss>
    :global(header) {
        text-align: center;
    }
    footer {
        background: black;
        color: white;
    }
</style>