<script>
    let result;
    let correctanswer = 'b';
    let answers = ['a', 'b', 'c', 'd']

    function pickAnswer(answer) {
        if (answer === correctanswer) {
            return result = 'Correct!'
        }
        result = 'Incorrect!'
    }
</script>

<style>
    h4 {
        color: red;
    }
</style>

<div>
    {#if result}
        <h4>{result}</h4>
    {:else}
        <h5>Please Pick an Answer</h5>
    {/if}
    {#each answers as answer}
        <button on:click={() => pickAnswer(answer)}>Answer {answer.toUpperCase()}</button>
    {/each}
</div>