<script>
	import { fade, fly } from 'svelte/transition'
	import { createEventDispatcher } from 'svelte'

	const dispatch = createEventDispatcher()
	let width
</script>

<!-- I couldn't get sass working, if you have any clue why this isn't working tell me -->
	<!-- This works well enough -->
<style lang='scss'>
	.modal-bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6)
	}
	.modal {
		background: white;
		padding: 20px;
		border-radius: 15px;
	}
</style>

	<!-- This should work but doesn't -->
<!-- <style lang='scss'>
	.modal-bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.6)
		.modal {
			background: white;
			padding: 20px;
			border-radius: 15px;
		}
	}
</style> -->

<div class='modal-bg' transition:fade bind:clientWidth={width}>
	<div class='modal' transition:fly={{ y: -100 }}>
		<button on:click={() => {
			dispatch('close-modal')
		}}>
			Close
		</button>
		<slot name='modal' />
		<h6>
			Client browser width is {width}px
		</h6>
	</div>
</div>