<!-- Ended at A Working Quiz, 8:01 -->

<script>
	export let question
	export let nextQuestion
	import { score } from './store.js'

	let correct
	let answered = false

	let answers = question.incorrect_answers.map(answer => {
		return {
			answer,
			correct: false
		}
	})
	let allAnswers = [
		...answers,
		{
			answer: question.correct_answer,
			correct: true
		}
	]
	shuffle(allAnswers);

	function shuffle(array) {
		array.sort(() => Math.random() - 0.5)
	}
	function checkCorrect(isCorrect) {
		correct = isCorrect
		answered = true
		if (correct) {
			score.update(val => val + 1)
		}
	}
</script>

<!-- Thank you svelte developers for scoped css -->
<style>
	h5 {
		color: red;
	}
	h5.correct {
		color: yellowgreen;
	}
</style>

<h3>{@html question.question}</h3>
{#if answered}
	<h5 class:correct>
		{#if correct}
			You got it right!
		{:else}
			You goofed up...
		{/if}
	</h5>
{/if}

{#if !answered}
	{#each allAnswers as answer}
		<button on:click={() => checkCorrect(answer.correct)}>
			{@html answer.answer}
		</button>
	{/each}
{/if}

{#if answered}
	<button on:click|once={() => nextQuestion()}>Next Question</button>
{/if}
