<script>
    import { fade } from 'svelte/transition'
    import { onMount, beforeUpdate, afterUpdate, onDestroy } from 'svelte'
    import Question from './Question.svelte'
    import Modal from './Modal.svelte';
    import { score } from './store.js';

    onMount (() => {
        // Run after component load
        console.log('mounted')
    })

    beforeUpdate(() => {
        // Runs before something changes on the site
        console.log('before update')
    })

    afterUpdate(() => {
        // Runs after something changes on the site
        console.log('after update')
    })

    let quiz = getQuiz()
    let displayScore = 0
    let activeQuestion = 1
    let winModalOpen = false
    let loseModalOpen = false

    async function getQuiz() {
        const response = await fetch('https://opentdb.com/api.php?amount=10&category=15&type=multiple')
        const quiz = await response.json()
        return quiz
    }

    function nextQuestion() {
        ++activeQuestion
        displayScore = $score
    }

    function resetQuiz() {
        quiz = getQuiz()
        score.set(0)
        activeQuestion = 1
        winModalOpen = false
        loseModalOpen = false
    }

    // Reactives
    $: currentScore = Math.round(displayScore / (activeQuestion - 1) * 100)
    $: if ($score > 4 && activeQuestion > 10) {
        winModalOpen = true
    } else if (activeQuestion > 10) {
        loseModalOpen = true
    }

</script>

<style>
    .fade_wrapper {
        position : absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
</style>

<div>
    <h2>Quiz time!</h2>
    <button on:click={() => resetQuiz()}>Start New Quiz</button> <br>
    
    {#if activeQuestion != 1}
        <h3>Current Score: {currentScore}%</h3>
    {:else}
        <h3>Current Score: 0%</h3>
    {/if}
    
    <h4>Question #{activeQuestion}</h4>
    {#await quiz}
        Loading...
    {:then data}
        {#each data.results as question, index}
            {#if index + 1 === activeQuestion}
                <div transition:fade class="fade_wrapper">
                    <Question {nextQuestion} {question}/>
                </div>
            {/if}
        {/each}
    {/await}
</div>

{#if winModalOpen}
    <Modal on:close-modal={resetQuiz}>
        <div slot='modal'>
            <h2>You Won!</h2>
            <p>Congratulations!</p>
            <button on:click={resetQuiz}>Start Over</button>
        </div>
    </Modal>
{/if}

{#if loseModalOpen}
    <Modal on:close-modal={resetQuiz}>
        <div slot='modal'>
            <h2>Game Over...</h2>
            <p>You'll do better next time!</p>
            <button on:click={resetQuiz}>Start Over</button>
        </div>
    </Modal>
{/if}
