<header>
    <h1>
        Welcome!
    </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
    </nav>
</header>

<style lang=scss>
    header {
        background: black;
        color: white;
        nav {
            background: gray;
            color: white;
        }
    }
</style>